
.login-container{
  background-image: url("../img6.png");
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-container {
  background-image: url("../img13.png");
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.form-container h2 {
  text-align: center;
}
.form-container form{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

p.message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #4CAF50;
}

form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.form-container button:hover {
  background: #03e9f4;
  color: black;
  border: 1px solid black;
  animation: shadowSnake 1s ease-in-out infinite;
}

@keyframes shadowSnake {
  0% {
    box-shadow: 0 0 0 2px red;
  }
  25% {
    box-shadow: 0 5px 0 2px red;
  }
  50% {
    box-shadow: 5px 5px 0 2px red;
  }
  75% {
    box-shadow: 5px 0 0 2px red;
  }
  100% {
    box-shadow: 0 0 0 2px red;
  }
}