.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-image {
    background-image: url('../img17.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    position: relative;
}

.post-title {
    font-size: 4rem;
    color: #ff6f61;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    word-wrap: break-word;
    max-width: 90%;
    overflow-wrap: break-word;
    
}

.post-content {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    word-wrap: break-word;
    max-width: 90%;
    overflow-wrap: break-word;
}
