<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <ul class="contact-info">
                    <li><i class="fa fa-map-marker"></i> 123 Main Street, Anytown USA</li>
                    <li><i class="fa fa-phone"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope"></i> info@yourdomain.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #333;
        color: #fff;
        padding: 50px 0;
    }
    h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .contact-info li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .social-icons li {
        display: inline-block;
        margin-right: 10px;
    }
    .social-icons li a {
        color: #fff;
        font-size: 24px;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #666;
    }
    .social-icons li a:hover {
        background-color: #fff;
        color: #333;
    }
</style>
